.login-bg {
    background-color: $loginbg;
    .footer-inner-content{
        border-top: 1px solid #fff;
        .copy-content,.footer-policy a{
            color: #fff;
        }
    }    
}
.login-cont-view {
    background-color: $loginbg;    
    padding:50px 0;
    @media only screen and (min-width: 1367px){
        min-height: 768px;
    }
    
    .auth-continer {
        width: 350px;
        margin: 0 auto;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
    .content-inner {
        border: 1px solid #c1dff6;
        min-height: 200px;
    }
    .auth-hd {
        font-weight: 300;
        font-size: 16px;
    }
    .form-control {
        border-radius: 0;
        border: 0!important;;
        border-bottom: 1px solid #188ae2!important;
        font-size: 15px;
        padding-left: 5px;
        font-weight: 300;
        &:-internal-autofill-selected {
            background-color: #fff !important;
        }
    }
    .btn {
        height: 39px;
    }
    .custom-checkbox {
        padding-left:27px;
        line-height: 31px;
        .custom-control-input{
            height: 21px;
            width: 21px; 
        }
        .custom-control-label {
            padding-left: 5px;
            &::after,
            &::before {
                height: 21px;
                width: 21px;
            }
        }
    }
}
